body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container-fluid{
  padding: 0 8px !important;
}

.y-form {
  .y-row{
    display: flex;
    align-items: center;
    margin-top: 10px;
    .y-label{
      width: 80px;
      font-weight: 600;
    }
    .y-input{
      flex: 1;
    }
  }
  .y-row:nth-child(1){
    margin-top: 20px;
  }
  .y-upload-status{
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: space-between;
    font-size: 16px;
    .y-title{
      font-weight: 600;
    }
    .y-content{
    }
  }
}

.y-sub-menu-container{
  margin-top: 5px;
  margin-bottom: 5px;
  .y-sub-title{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #337ab7;
  }
  .y-row{
    display: flex;
    .y-item{
      flex: 1;
      height: 40px;
      line-height: 40px;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      color: black;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee;
      font-weight: 400;
    }
    .y-item:last-child{
      border-right: none;
    }
    .y-item:hover{
      background-color: #eee;
    }
  }
  .y-row:first-child{
    border-top: 1px solid #eee;
  }

}

.y-body{
  margin-top: 8px;
  .y-title{
    font-weight: 600;
    margin-bottom: 15px;
  }
  .table{
    tr th{
      padding: 4px 0px;
      font-weight: 500;
    }
    tr td{
      padding: 3px 0px;
      font-weight: 400;
    }
    .y-examination-class{
      margin-top: 3px;
    }
  }
}
.y-unqualified-dialog{
  .ant-drawer-body{
    padding-top: 5px;
  }
  .y-unqualified-container{
    display: flex;
    flex-direction: column;
    .y-unqualified-item{
      flex: 1;
      text-align: center;
      display: block;
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      .ant-upload{
        width: 100%;
        height: 40px;
        line-height: 40px;
      }
    }
    .y-unqualified-item:nth-child(2){
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
    }
  }
}
.y-quota-dialog{
  .ant-modal-body{
    padding: 10px;
  }
  .y-quota-item{
    display: block;
    height: 40px;
    line-height: 40px;
    margin-left: 15px;

  }
}
