.y-header{
  height: 40px;
  line-height: 40px;
  display: flex;
  background-color: #F1F3EE;
  margin: 0 -15px;
  justify-content: space-between;
  padding: 0 5px;
  .y-close{
    cursor: pointer;
    margin: 0 0 0 10px;
  }
  .y-title{
    align-self: center;
  }
  .y-more{
    margin-right: 10px;
    cursor: pointer;
  }
}

.y-form {
  .y-row{
    display: flex;
    align-items: center;
    height: 40px;
    .y-label{
      width: 80px;
      font-weight: 600;
    }
    .y-input{
      flex: 1;
      .el-input{
        width: 100%;
      }
    }
  }
}

.y-body{
  margin-top: 10px;
  .y-title{
    font-weight: 600;
    margin-bottom: 15px;
  }
}


.y-check-header{
  display: flex;
  justify-content: center;
  .item{
    margin-right: 5px;
    cursor: pointer;
  }
}

.y-youxiu{
  background-color: #a9823e;
}
