.y-header{
    height: 40px;
    line-height: 40px;
    display: flex;
    background-color: #F1F3EE;
    margin: 0 -15px;
    justify-content: space-between;
    padding: 0 5px;
}
.y-header .y-title {
    margin: 0 10px;
}

.y-header .y-close{
    cursor: pointer;
    margin-right: 5px;
}
.y-header .y-more{
    margin-right: 10px;
    cursor: pointer;
}

.y-form .y-row{
    display: flex;
    align-items: center;
    height: 40px;
}

.y-row .y-label{
    width: 80px;
    font-weight: 600;
}
.y-row .y-input{
    flex: 1;
}
.y-content{
    margin-top: 10px;
}
.y-content .y-title{
    font-weight: 600;
    margin-bottom: 15px;
}



