body{
  font-family: '微软雅黑';
  padding: 0;
  margin: 20px 0 40px;
  font-size: 16px;
  background-color: #F9F9F9;
}
.box{
  width: 400px;
  padding: 8px;
  margin-right: 20px;
  margin-bottom: 10px;
  display: inline-block;
  box-shadow: 2px 2px 3px 1px #E0E0E0;
}

.demo {
  color: #fff;
  display: flex;
  text-align: center;
  border: 1px dashed #B6B6B6 ;

}

.demo .item{
  line-height: 40px;
}

.demo .item:nth-child(1){
  background-color: #E46C49;
}

.demo .item:nth-child(2) {
  background-color: #37B0D3;
}

.demo .item:nth-child(3) {
  background-color: #68B33D;
}

.demo-row {
  flex-direction: row;
}

.demo-row-reverse{
  flex-direction: row-reverse;
}

.demo-column{
  height: 200px;
  flex-direction: column;
}

.demo-column-reverse{
  height: 200px;
  flex-direction: column-reverse;
}

.demo-nowrap {
  flex-wrap: nowrap;
  width: 400px;
}



.demo-wrap {
  flex-wrap: wrap;
  width: 400px;
}

.boxes{
  padding: 0 10px;
  overflow: hidden;
  display: -webkit-flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
/*.boxborder{*/
/*  border: 1px dashed #B6B6B6;*/
/*}*/


